.element__vector {
  fill: #000000;
  background-image: url(./images/Vector\ \(3\).svg);
  margin: 0;
  background-position: center;
  object-fit: contain;
  border: none;
  background-color: #FFFFFF;
  width: 22px;
  height: 19px;
}